
<style>
            body {
    background-color: #13141B;
}
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}
h1 {
    color: #eee;
    margin-bottom: 30px;
}
.container {
    margin: 0 auto;
}


#coursesList{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.course{
    background-color: #282E3E;
    width: 48%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    flex-direction: row-reverse;
    color: #fff;
    position: relative;
}



.course-info{
    flex: 4;
    padding: 10px;
}

.course-info h2 {
    font-size: 25px;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    height: fit-content;
    overflow-y: hidden;
}

.course-info h5{
    margin-top: 20px;
}

.course-img{
    flex: 3;
    padding: 10px;
}

.course img{
    width: 100%;
    /* height: 100%; */
    border-radius: 6px;
}



@media (max-width:550px){
    .course{
        flex-direction: column-reverse;
    }
}

.form-group label{
    color: #fff;
}

.form-control, .form-control:focus{
    background-color: #282E3E;
    color: #fff;
}

.delete-btn{
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 8px;
    right: 8px;
    font-size: 20px;
    cursor: pointer;
    transition: .25s;
}

.delete-btn:hover{
    color: red;
}
.title{
    color: #fff;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
 </style>
    </head>
    <body>
        {{> header}}


            
            <div class="mt-4">
                <form method="POST" action="/TN/store" class="data-form"> 
                    <div class="form-group">
                        <label for="name">Tên thí nghiệm</label>
                        <input type="text" name="name" class="form-control" id="name">
                    </div>
                    <div class="form-group">
                        <label for="class">Lớp</label>
                        <input type="text" name="class" class="form-control" id="class">
                    </div>
                    
                    <div class="form-group">
                        <label for="videoUrl">Link video</label>
                        <input type="text" name="videoUrl" class="form-control" id="videoUrl">
                    </div>
                   

                <button type="submit" class="btn btn-dark submit-btn">Thêm</button>
                    
                </form>
                
                
            </div>
            <h2 class="title">Thí nghiệm đã thêm</h2>
            <ul id="coursesList"></ul>
            {{#each TNs}}
                <div name="{{this.name}}" age="{{this.class}}" videoUrl="{{this.videoUrl}}" id={{this._id}} class="input"></div>
            {{/each}}

            

             


        <form method="POST" class="delete-form"></form>
        
       
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <!-- <script src="custom.js"></script> -->

 
 
        <script>
                        
const coursesList = document.getElementById('coursesList');
const courses = []
const input = document.querySelectorAll("div[name]")

input.forEach(course => {
    courses.push({
        id: course.getAttribute("id"),
        name: course.getAttribute("name"),
        class: course.getAttribute("age"),
        videoUrl: course.getAttribute("videoUrl"),
    })
})
console.log(courses)



const displayCourses = (courses) => {
    const htmlString = courses
        .map((course) => {
            return `
            <li class="course">
                <button class="delete-btn" id="${course.id}">X</button>
                <div class="course-info">
                    <h2>${course.name}</h2>
                    <h5>Lớp: ${course.class}</h5>
                </div>
                <a href="${course.videoUrl}" class="course-img" target="_blank">
                    <img src="/images/TN.jpg" />   
                </a>
                
            </li>
        `;
        })
        .join('');
    coursesList.innerHTML = htmlString;
};
displayCourses(courses);

            
            
        </script>

        <script>
            
            const deleteBtns = document.querySelectorAll('.delete-btn')
            const deleteForm = document.querySelector('.delete-form')
            console.log(deleteBtns)
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', function(){
                    const TNid = btn.getAttribute("id")
                    deleteForm.action = `/TN/${TNid}/force?_method=DELETE `
                    deleteForm.submit()
            })
            })
            
        </script>
    </body>
</html>
