
        <style>
            body {
    background-color: #13141B;
}
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}

.container {
    margin: 0 auto;
}

#coursesList{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

 .course{
    background-color: #282E3E;
    width: 48%;
    display: flex;
    margin-bottom: 10px;
    border-radius: 10px;
    overflow: hidden;
    color: #fff;
    position: relative;
} 

.course[type="2"]{
    background-color: #008000;
}

.course-info{
    flex: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.delete-btn{
    background-color: transparent;
    border: none;
    color: #fff;
    position: absolute;
    top: 6px;
    right: 6px;
    font-size: 18px;
    cursor: pointer;
    transition: .25s;
}

.delete-btn:hover{
    color: red;
}

.course-info h2 {
    margin-top: -18px;
}

.course-img{
    flex: 3;
    padding: 10px;
}

.course img{
    width: 100%;
    /* height: 100%; */
    border-radius: 6px;
}

.title{
    color: #fff;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}

#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;

}

#searchWrapper input{
    height: 46px;
    font-size: 16px;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}

@media (max-width:770px){
    .course{
        width: 100%;
    }
}

.form-group label{
    color: #fff;
}

.form-control, .form-control:focus{
    background-color: #282E3E;
    color: #fff;
}

/* tab */

.tab-list{
    position: relative;
    display: flex;
    font-size: 24px;
    color: #c9b99d;
    font-weight: 600;
    font-size: 20px;
}


.tab.active{
    color: #DBB16A;
}


.tab{
    padding: 10px 12px;
    cursor: pointer;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: transparent;

    
}

.tab:hover{
    border-bottom-color: #FBDCE6;
    
}

.line{
    position: absolute;
    border-radius: 4px;
    height: 4px;
    background-color: #DBB16A;
    bottom: 0;
    left: 0;
    /* right: 1px; */
    transition: .4s;
}

        </style>
    </head>
    <body>

        {{> header}}
    <div class="mt-4">
        <form method="POST" action="/formula/store"> 
            <div class="form-group">
                <label for="name">Nhập công thức để thêm</label>
                <input type="text" name="name" class="form-control" id="name">
            </div>
            <select class="form-control" aria-label="Default select example" name="type">
                <option selected>Chọn loại công thức</option>
                <option value="1">Vô cơ</option>
                <option value="2">Hữu cơ</option>

            </select>

            <button type="submit" class="btn btn-dark mt-4">Thêm</button>
        </form>
    </div>
    <h2 class="title">Công thức đã thêm</h2>
    

    <div class="tab-list">
        <div class="tab active">Inorganic Chemistry</div>
        <div class="tab">Organic Chemistry</div>
        <div class="line"></div>
    </div>
    <ul id="coursesList" type="1">
    {{#each formulas}}
        <div name="{{this.name}}" id="{{this._id}}" type="{{this.type}}" class="input"></div>
    {{/each}}
    </ul>


        <form method="POST" class="delete-form"></form>
        
       
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <!-- <script src="custom.js"></script> -->
        <script>
                        
const coursesList = document.getElementById('coursesList');
const courses = []
const input = document.querySelectorAll("div[name]")

input.forEach(course => {
    courses.push({
        id: course.getAttribute("id"),
        name: course.getAttribute("name"),
        type: course.getAttribute("type")
    })
})
console.log(courses)


/*
<a href="${course.video}" class="course-img" target="_blank">
                    <img src="${course.image}" />   
                </a>
    <h5>${course.age}</h5>
*/

const displayCourses = (courses) => {
    const htmlString = courses
        .map((course) => {
            return `
            <li class="course" type="${course.type}">
                <div class="course-info">
                    $$${course.name}$$
                    
                </div>
                
                <button class="delete-btn" id="${course.id}">X</button>
            </li>
        `;
        })
        .join('');
    coursesList.innerHTML = htmlString;
};
const courseDisplayedFirst = courses.filter(item => item.type.toString() == coursesList.getAttribute("type"))
displayCourses(courseDisplayedFirst);

            
            
        </script>
        <script>
            const tabs = document.querySelectorAll(".tab");
            const line = document.querySelector('.line')
            


            line.style.width = `${tabs[0].offsetWidth}px`
            tabs.forEach((tab, index) => {
                tab.onclick = () => {
                    document.querySelector('.tab.active').classList.remove('active')
                    tab.classList.add('active')
                    line.style.left = `${tab.offsetLeft}px`
                    line.style.width = `${tab.offsetWidth}px`

                    coursesList.setAttribute("type", index + 1)
                    const filteredList = courses.filter(item => item.type.toString() == coursesList.getAttribute("type"))
                    displayCourses(filteredList)
                    MathJax.typeset(); 

                    deleteBtns = document.querySelectorAll('.delete-btn')
                    deleteBtns.forEach(btn => {
                        btn.addEventListener('click', function(){
                            const formulaID = btn.getAttribute("id")
                            deleteForm.action = `/formula/${formulaID}/force?_method=DELETE `
                            deleteForm.submit()
                    })
                    })
                }
            })
        </script>
        <script>
            const submitBtn = document.querySelector('.submit-btn')
            let deleteBtns = document.querySelectorAll('.delete-btn')
            const deleteForm = document.querySelector('.delete-form')
            deleteBtns.forEach(btn => {
                btn.addEventListener('click', function(){
                    const formulaID = btn.getAttribute("id")
                    deleteForm.action = `/formula/${formulaID}/force?_method=DELETE `
                    deleteForm.submit()
            })
            })
            
        </script>
        
    </body>
</html>
