<style>
    body{
        background-color: #EDE1C7;
    }
    .input-wrapper{
        display: flex;
    }

    .input-group{
        width: 50%;
        display: flex;
        flex-direction: column;
        position: relative;
    }
    
    .form-item{
        font-size: 30px;
        min-height: 230px;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 50px 30px 30px;
        width: 100%;
    }
    .form-item:active{
        border:none;
    }
    .result{
        width: 50%;
        position: relative;
    }
    .result-name{

    }
    .result-list{
        width: 100%;
        border: 1px solid #ccc;
        height: 230px;
        border-radius: 4px;
       
        list-style: none;
        font-size: 30px;
        padding: 30px;
        background-color: #fff;
    }

    .heading{
        font-size: 30px;
        text-transform: uppercase;
        color: #DBB16A;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        margin-top: 5px;
    }
    @media (max-width:700px){
        .input-wrapper{
            flex-direction: column;
        }

        .result, .input-group{
            width: 100%;
        }
    }
</style>


<div class="">
    <form method="GET" action="/dictionary/search" class="form-input"> 
        <div class="input-wrapper">
            <div class="input-group">
                <label for="symbol" class="heading">Symbol</label>
                <textarea name="symbol" id="symbol" class="form-item"></textarea>
            
            </div>
            <div class="result">
                <div class="result-name heading">Name</div>
                <ul class="result-list">
                    {{#each result}}
                    <li>
                        <h2>{{this.name}}</h2>
                    </li>
                    {{/each}}
                </ul>
            </div>
        </div>
        

        <button type="submit" class="btn btn-dark">Search</button>
    </form>
</div>
<div class="data-list">
    
</div>

<script>
    const dataList = document.querySelector(".data-list")
    const data = []
    dataList.forEach(item => {
        data.push({})
    })
</script>
