
<style>
            body {
    font-family: sans-serif;
    background-color: #fff;
}
::-webkit-scrollbar {
    display: none;
}
* {
    box-sizing: border-box;
}

.container {
    /* padding: 40px; */
    margin: 0 auto;
    max-width: 1000px;
    text-align: center;
}

#coursesList{
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 20px;
}

.course[type="1"]{
    background-color: #fff;
    width: 48%;
    min-height: 260px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    /* overflow: hidden; */
    /* display: none; */
    background-image: url("/images/pic4.png");
    background-position: center;
    color: #333;
}
.course[type="2"]{
    background-color: #fff;
    width: 48%;
    min-height: 260px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
    margin-bottom: 10px;
    border-radius: 10px;
    /* overflow: hidden; */
    /* display: none; */
    background-image: url("/images/pic2.png");
    background-position: center;
    color: #fff;
}





.course-info{
    flex: 2;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.course-info h2 {
    margin-top: -18px;
}

.course-img{
    flex: 3;
    padding: 10px;
}
.course img{
    width: 100%;
    /* height: 100%; */
    border-radius: 6px;
}

.course .img{
    position: absolute;
    width: 100%;
    height: 100%;
}






#searchBar {
    width: 100%;
    height: 32px;
    border-radius: 3px;
    border: 1px solid #eaeaea;
    padding: 5px 10px;
    font-size: 12px;
}

#searchWrapper {
    position: relative;
}

#searchWrapper input{
    height: 46px;
    font-size: 16px;
    border: 1px solid #000;
}

#searchWrapper::after {
    content: '🔍';
    position: absolute;
    top: 7px;
    right: 15px;
}

@media (max-width:770px){
    li.course{
        width: 100% !important;
    }
}
/* tab */

.tab-list{
    position: relative;
    display: flex;
    font-size: 24px;
    color: #F6A8C1;
    font-weight: 600;
    font-size: 20px;
}


.tab.active{
    color: #CE5876;
}


.tab{
    padding: 10px 12px;
    cursor: pointer;
    position: relative;
    border-bottom-style: solid;
    border-bottom-width: 4px;
    border-bottom-color: transparent;

    
}

.tab:hover{
    border-bottom-color: #FBDCE6;
    
}

.line{
    position: absolute;
    border-radius: 4px;
    height: 4px;
    background-color: #CE5876;
    bottom: 0;
    left: 0;
    /* right: 1px; */
    transition: .4s;
}

li.course[type]{
    display: none;
}

li.course[type].active{
    display: flex;
}

        </style>
    </head>
    <body>

        <div id="searchWrapper" class="mt-4">
            <input
                type="text"
                name="searchBar"
                id="searchBar"
                placeholder="Enter formula name to search"
            />
        </div>
        <div class="tab-list">
            <div class="tab active">Inorganic Chemistry</div>
            <div class="tab">Organic Chemistry</div>
            <div class="line"></div>
        </div>
       
            <ul id="coursesList">
            {{#each formulas}}
                <div name="{{this.name}}" type="{{this.type}}" class="input"></div>
            {{/each}}
            </ul>
        
       
        <script src="https://polyfill.io/v3/polyfill.min.js?features=es6"></script>
        <script id="MathJax-script" async src="https://cdn.jsdelivr.net/npm/mathjax@3.0.1/es5/tex-mml-chtml.js"></script>
        <!-- <script src="custom.js"></script> -->
        <script>
                        
const coursesList = document.getElementById('coursesList');
const searchBar = document.getElementById('searchBar');
const courses = []
const input = document.querySelectorAll("div[name]")


const activeInput = document.querySelectorAll(".course.active")
input.forEach(course => {
    courses.push({
        name: course.getAttribute("name"),
        type: course.getAttribute("type"),
    })
})
console.log(courses)

searchBar.addEventListener('keyup', (e) => {
    const searchString = e.target.value.toLowerCase();

    const filteredCourses = courses.filter((course) => {
        const indexSlap = course.name.indexOf("\\")
        const indexSpace = course.name.indexOf(' ', course.name.indexOf("\\"))
        return (
            (course.name.toLowerCase().slice(0, indexSlap) + course.name.toLowerCase().slice(indexSpace)).includes(searchString)
        );
    });

    
    const filteredCourseList = filteredCourses
        .map((course) => {
            return `
            <li class="course active" type="${course.type}">
                    ${course.name}
            </li>
        `;
        })
        .join('');
    coursesList.innerHTML = filteredCourseList;
    
    MathJax.typeset(); 
});


const displayCourses = (courses) => {
    const htmlString = courses
        .map((course) => {
            return `
            <li class="course" type="${course.type}">
                    ${course.name}
            </li>
        `;
        })
        .join('');
    coursesList.innerHTML = htmlString;
};
displayCourses(courses);

            
            
        </script>

        <script>
            const tabs = document.querySelectorAll(".tab");
            const line = document.querySelector('.line')
            const formulas = document.querySelectorAll('.course')
            const first = document.querySelectorAll(".course[type='1']")

            
    first.forEach(item => {
        item.classList.add("active")
    })

            line.style.width = `${tabs[0].offsetWidth}px`
            tabs.forEach((tab, index) => {
                tab.onclick = () => {
                    document.querySelector('.tab.active').classList.remove('active')
                    tab.classList.add('active')
                    line.style.left = `${tab.offsetLeft}px`
                    line.style.width = `${tab.offsetWidth}px`
                    const activeFormula = document.querySelectorAll(".course.active")
                    activeFormula.forEach(item => {
                        item.classList.remove("active")
                    })
                    document.querySelectorAll(`.course[type="${index+1}"]`).forEach(item => {
                        item.classList.add("active")
                    })
                }
            })
        </script>
    </body>
</html>
