<h1 class="text-center text-dark text-uppercase">This is home page</h1>
<button type="button" class="btn btn-dark">

<a href="http://localhost:3000/news">Go to News</a>
</button>
<button type="button" class="btn btn-dark">

<a href="http://localhost:3000/search">Go to Search</a>
</button>
<button type="button" class="btn btn-dark">

<a href="http://localhost:3000/formula">Go to Formula</a>
</button>