<h1 class="text-center text-dark">THIS IS SEARCH PAGE</h1>

<div class="mt-4">
    <form method="POST" action="">
        <div class="form-group">
            <label for="exampleInputEmail1">Search</label>
            <input type="text" name="key" class="form-control" id="exampleInputEmail1" placeholder="Enter keywords ...">
        </div>
        <button type="submit" class="btn btn-dark">Submit</button>
    </form>
</div>