<style>
    
    *{
        margin: 0;padding: 0;
    }
    body{
        background-color: #13141B;
        color: #fff;
        
    }
    .chemicalEqt-list{
        list-style: none;
        width: 100%;
        margin-top: 20px;

    }

    .chemicalEqt-item{
        width: 100%;
        height: fit-content;
        padding: 12px;
        position: relative;
        font-size: 16px;
        margin-top: 10px;
        word-wrap: break-word;
        overflow-x: auto;
        background-color: #282E3E;
        border-radius: 6px;
    }

    .chemicalEqt-item::-webkit-scrollbar{
        height: 4px;
        background-color: #ddd;
    }
    .chemicalEqt-item::-webkit-scrollbar-thumb{
        border-radius: 10px;
        height: auto;
        background-color: #999;
    }

    .control{
        display: flex;
        align-items: center;
        margin-top: 6px;
        gap: 10px;
    }

    .delete-btn, .edit-btn{
        
        width: 20px;
        height: 20px;
        padding: 4px 10px;
        border-radius: 3px;
        color: #fff;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        background-color: red;
        border:none;
        text-decoration: none;
    }

    .edit-btn{
        background-color: #ccc;
        width: fit-content;
        top: unset;
        bottom: 0;
        ;
        color: #333;
    }
    h4{margin: 0;
        width: 100%;
        word-wrap: break-word;
    }
    .form-control, .form-control:focus{
        background-color: #282E3E;
        color: #fff;
    }
    .title{
    color: #fff;
    margin-top: 20px;
    border-top: 1px solid #ddd;
    padding-top: 10px;
}
</style>
{{> header}}
<div class="mt-4">
    <form method="POST" action="/chemicalEqt/store"> 
        <div class="form-group">
            <label for="reagent">Reagent</label>
            <input type="text" name="reagent" class="form-control" id="reagent">
        </div>
        <div class="form-group">
            <label for="product">Product</label>
            <input type="text" name="product" class="form-control" id="product">
        </div>
        

        <button type="submit" class="btn btn-dark">Add</button>
    </form>
</div>
<h2 class="title">Phương trình đã thêm</h2>
<ul class="chemicalEqt-list">
    
</ul>

<div class="data-list">
    {{#each chemicalEqts}}
        <div reagent="{{this.reagent}}" product="{{this.product}}" id="{{this._id}}" class="input"></div>
    {{/each}}
</div>

<form method="POST" class="delete-form"></form>

<script>
    function transformChemical(chemicalList, characterList){
        const newArr = []
        let count = 0

        chemicalList = chemicalList.map(item => item.toUpperCase())
        characterList = characterList.map(item => item.toUpperCase())
        
        chemicalList.forEach(item => {
          characterList.forEach(cha => {
            if(item.includes(cha)) {
              count++
            
              item = item.replace(cha,cha.replace(cha[1], cha[1].toLowerCase()))
              
              newArr.push(item)
            }
            })
          if(count === 0) newArr.push(item.toUpperCase())
          count = 0
        })
        newArr.forEach((item, index )=> {
            characterList.forEach(cha => {
              if(item.includes(cha)) {
                newArr.splice(newArr.indexOf(item), 1)
              }
            })
            
        })
        return newArr   
      }
</script>



<script>
    const chemicalList = []
    const dataList = document.querySelectorAll(".input")
    const chemicalEqtList = document.querySelector(".chemicalEqt-list")
    let arr1 = [], arr2 = []
    let sample = ['mn', 'ba', 'cl', 'na','fe','al','ca']
    dataList.forEach(data => {
        arr1.push(data.getAttribute("reagent").split(" "))
        arr2.push(data.getAttribute("product").split(" "))
    })

    arr1 = arr1.map(item => transformChemical(item,sample))
    arr2 = arr2.map(item => transformChemical(item,sample))
    arr1.forEach((item, index) => {
        console.log(dataList[index].getAttribute("id"))
        chemicalList.push({
            id: dataList[index].getAttribute("id") ,
            reagent: item.join(" ").replace(/{/gi, '_{').replace(/\(/g, '').replace(/\)/g, '').replace(/\[/g, '{(').replace(/\]/g, ')}'),
            product: arr2[index].join(" ").replace(/{/gi, '_{').replace(/\(/g, '').replace(/\)/g, '').replace(/\[/g, '{(').replace(/\]/g, ')}'),
        })
        console.log(chemicalList[index].reagent)
        console.log(chemicalList[index].product)

    })

    const html = chemicalList.map(item => {
        return `
            <li class="chemicalEqt-item">
                <h4>\\(${item.reagent} \\to ${item.product}\\)</h4>
                <div class="control">
                    <button class="delete-btn" id="${item.id}">X</button>
                    <a href="/chemicalEqt/${item.id}/change" class="edit-btn" id="${item.id}">Edit</a>
                </div>
            </li>
        `
    }).join("")

    chemicalEqtList.innerHTML = html

</script>

<script>
    const submitBtn = document.querySelector('.submit-btn')
    const deleteBtns = document.querySelectorAll('.delete-btn')
    const deleteForm = document.querySelector('.delete-form')
    console.log(deleteBtns)
    deleteBtns.forEach(btn => {
        btn.addEventListener('click', function(){
            const chemicalEqtId = btn.getAttribute("id")
            deleteForm.action = `/chemicalEqt/${chemicalEqtId}/force?_method=DELETE `
            deleteForm.submit()
    })
    })
    
</script>